
h1 {
    font-family: Roboto;
    font-weight: 100;
    font-size: 100px;
    text-align: center;
    z-index: 5;
    position: relative;
    line-height: 100px;
}

h2 {
    font-family: Roboto;
    font-weight: 100;
    font-size: 50px;
    margin: 50px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10%;
}

.image img {
    border-radius: 10%;
}

.header {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    float: none;
    
}